@font-face {
    font-family: "Butler";
    font-weight: 200;
    src: local("Butler UltraLight"),
        local("Butler-UltraLight"),
        local("Butler_UltraLight"),
        url("../fonts/Butler-UltraLight.woff2") format("woff2"),
        url("../fonts/Butler-UltraLight.woff") format("woff"),
        url("../fonts/Butler_Ultra_Light.otf") format("otf");
}

@font-face {
    font-family: "Butler";
    font-weight: 300;
    src: local("Butler Light"),
        local("Butler-Light"),
        local("Butler_Light"),
        url("../fonts/Butler-Light.woff2") format("woff2"),
        url("../fonts/Butler-Light.woff") format("woff"),
        url("../fonts/Butler_Light.otf") format("otf");
}

@font-face {
    font-family: "Butler";
    font-weight: 500;
    src: local("Butler Medium"),
        local("Butler-Medium"),
        local("Butler_Medium"),
        url("../fonts/Butler-Medium.woff2") format("woff2"),
        url("../fonts/Butler-Medium.woff") format("woff"),
        url("../fonts/Butler_Medium.otf") format("otf");
}