:root {
    font-size: 16px;
    line-height: 1.2;
}

/*Временно, чтоб не мешали пока*/
.invisible {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Butler", Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 1rem;
    color: #000;
    background-color: #FFFF;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

section {
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 1200px;
}

h2 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

blockquote {
    font-family: "Butler", sans-serif;
    font-style: normal;
    font-weight: 200;
}

.Mils-info {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.info {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.hero_page_content {
    position: absolute;
}

.mod-studio {
    position: absolute;
    background-color: #FFFF;
}

