:root {
    font-size: 16px;
    line-height: 1.2;
}

.invisible {
    display: none;
}

.upper-text {
    text-transform: uppercase;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Butler", Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 1rem;
    color: #000;
    background-color: #FFFF;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    /* background-color: red; */
}

section {
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 1200px;
    display: flex;
    align-items: center;
    /* background-color: darkcyan; */
}

h2 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

blockquote {
    font-family: "Butler", Times, 'Times New Roman', serif;
    font-style: normal;
    font-size: 2em;
    font-weight: 200;
}

.clearfix::after {
    content: ""; 
    display: block; 
    clear: both;
}

.Mils-info {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.picture_mod_studio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1065px;
    max-height: 630px;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mod-studio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5.5rem;
    padding: 1.5em 0.8em;
    background-color: #FFFF;
    max-width: 100%;
    text-align: center;
}

.mod-studio-caption {
    font-family: "Butler", Times, 'Times New Roman', serif;
    font-size: 1em;
    font-weight: 300;
}

.mod-studio-title {
    position: absolute;
    font-size: 0.2em;
    font-weight: 700;
    left: 0;
    right: 0;  
}

.biography-title {
    position: absolute;
    right: 38px;
    bottom: 100px;
    z-index: 2;
    transform: rotate(-90deg);
}

.block-biography {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#section_biography {
    /* background-color: blue; */
}

.biography-left {
    /* background-color: yellow; */  
}

.biography-right {
    /* background-color: green; */
}

.katya-mills-image {
    position: absolute;
    width: 100%; 
    height: 100%;
    max-width: 553px;
    max-height: 840px;
    margin-right: 32px;
    right: 0px;
    top: 50%;
    object-fit: cover;
    transform: translateY(-53.5%);
}

.katy-mills-blok-right {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    left: 10%;
}

.katya-section-caption {
    font-family: Butler, Times, 'Times New Roman', serif;
    white-space: nowrap;
    font-size: 5.4em;
    font-weight: 300;
    margin-bottom: 36px;
    width: 4em;
}

.job-title-skills {
    font-size: 1.125rem;
    font-weight: 500;
}

.separator {
    width: 15px; 
    height: 5px;
    margin-top: 3.9em;
    margin-bottom: 2em;
    background-color: #000; 
    border: none;
}

.quote-katya {
    width: 100%;
    max-width: 13em; 
}

#section_designers {
    /* background-color: purple; */
}

.designers-title {
    position: absolute;
    right: 26%;
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
    margin-top: -315px;
    z-index: 1;
}

.designers {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 24px;
}

.designer-part {
    padding-top: 6.5%;
    flex-shrink: 0;
    width: 300px;
    flex-shrink: 0;
}

.designer-part-big {
    padding-top: 0%;
    width: 600px;
    text-align: center;
    margin: 0 80px;
}

.designer-part-big:first-child {
    margin-left: 0;
}
  
.designer-part-big:last-child {
    margin-right: 0;
}

.designer-part img{
    width: 100%;
    height: 440px;
    object-fit: cover;
    margin-bottom: 20px;
}

.designer-part-big img{
    height: 540px;
}

.designer-part-big .designer-about {
    display: inline-block;
    text-align: left;
}

.photo-caption {
    font-size: 1rem;
    font-weight: 400;
}

.photo-caption-bold {
    font-size: 1rem;
    font-weight: 700;
}

.testimonials {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: 15% 85%;
    align-items: stretch;
}

.testimonial-title {
    grid-column: 2/4;
    align-self: flex-start;
    padding: 70px 0 0 0;
}

.testimonial-links {
    grid-row: 2/3;
    max-height: 760px;
    display: flex;
    flex-direction: column;
}

.testimonial-link {
    transform: rotate(-90deg) translateY(50%);
    align-self: flex-end;
    height: 40%;
    color: #000;
    text-decoration: none;
    font-weight: 400;
}

.link-bold {
    font-weight: 700;
}

.testimonial-img-bar {
    width: 100%;
    max-width: 500px;
    max-height: 750px;
    object-fit: none;
    overflow: hidden;
}

.testimonial-blockquote {
    text-align: center;
    width: 200px;
    margin: 2% 0 0 38%;
}

.testimonial-img-bag {
    width: 100%;
    max-width: 220px;
    object-fit: none;
    margin: 4% 35% 0 37%;
}


